[Unit]
Description=API para a tela de Drag and Drop
After=network.target

[Service]
User=root
WorkingDirectory=/api/
ExecStart=/api/venv/bin/gunicorn -c gunicorn_config.py -b :8000 main:app
Restart=always

[Install]
WantedBy=multi-user.target
