[Unit]
Description=Gunicorn daemon for API
#Requires=gunicorn.socket
After=network.target

[Service]
Type=notify
# the specific user that our service will run as
User=root
Group=root
RuntimeDirectory=gunicorn
WorkingDirectory=/api/
ExecStart=/api/venv/bin/gunicorn -c gunicorn_config.py main:app 
ExecReload=/bin/kill -s HUP $MAINPID
KillMode=mixed
TimeoutStopSec=5
PrivateTmp=true

[Install]
WantedBy=multi-user.target
